.subscribe-field {
  padding: 50px 0;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 14px;
  }

  &__subtitle {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
  }

  &__input_container {
    border: 2px solid #FFFFFF;
    border-radius: 37px;
    width: 578px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    color: #FFFFFF;
    outline: none;
    width: 70%;
  }

  &__button {
    font-size: 17px;
    background: #EB5757;
    color: #FFFFFF;
    border-radius: 37px;
    height: calc(100% - 4px);
    padding: 0px 24.5px;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }

  &__button:hover {
    transition: ease-in-out 0.3s;
    padding: 0px 26.5px;
    height: 100%;
  }
}


@media screen and (max-width: 950px) {
  .subscribe-field {

    &__title {
      font-size: 24px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__input_container {
      height: 45px;
      width: 90%;
      max-width: 450px;
    }

    &__input {
      font-size: 14px;
    }

    &__button {
      font-size: 12px;
    }
  }
}