.subscribe-field {
  width: 100vw;
  height: 420px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 14px;
  }

  &__subtitle {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
  }

  &__input_container {
    border: 2px solid #FFFFFF;
    border-radius: 37px;
    width: 578px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    color: #FFFFFF;
    outline: none;
    width: 70%;
  }

  &__button {
    font-size: 17px;
    background: #EB5757;
    color: #FFFFFF;
    border-radius: 37px;
    height: calc(100% - 6px);
    padding: 0px 26.5px;
    margin: 3px;
    border: none;
    cursor: pointer;
  }
}