.articles {
  // width: 90vw;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF6FB;

  &__title {
    margin-bottom: 45px;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__container > a {
    width: 30%;
    max-width: 350px;
    transition: ease-in-out 0.3s;
  }

  // &__container > a {
  //   width: 29%;
  //   max-width: 335px;
  //   transition: ease-in-out 0.3s;
  // }

  // &__container > a:hover {
  //   width: 30%;
  //   max-width: 350px;
  //   transition: ease-in-out 0.3s;
  // }

  &__container > a:last-child > &__article {
    margin-right: 0px;
  }

  &__article {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    margin-right: 33px;
  }

  &__article_block {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  &__article_title {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 14px;
  }

  &__article_text {
    font-size: 14px;
    color: #4F4F4F;
    margin-bottom: 28px;
  }

  &__article_footer {
    font-size: 12px;
    color: #616161;
    display: flex;
    justify-content: space-between;
  }

  &__article_picture {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .articles {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__article {
      width: 100%;
    }

    &__container > a {
      margin-bottom: 35px;
      width: 100%;
    }

    &__container > a:last-child {
      margin-bottom: 0px;
    }
  }
}