.app-advertising {
  padding: 50px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  &__block {
    display: flex;
    flex-direction: column;
    width: 45%;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 17px;
    margin-bottom: 50px;
  }

  &__buttons {
    display: flex;
    height: 60px;
  }

  &__button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
  }

  &__button {
    height: 95%;
    margin-right: 30px;
    transition: ease-in-out 0.25s;
  }

  &__button:hover {
    transition: ease-in-out 0.25s;
    height: 100%;
  }

  &__button:last-child {
    margin-right: 0px;
  }

  &__button > img {
    height: 100%;
  }

  &__picture_mobile {
    display: none;
  }

  &__picture_screen {
    width: 45%;
  }
}

@media screen and (max-width: 950px) {
  .app-advertising {
    justify-content: center;
    text-align: center;

    &__block {
      width: 80%;
      align-items: center;
    }

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 30px;
    }

    &__picture_mobile {
      display: block;
      width: 50%;
      margin-bottom: 30px;
    }

    &__picture_screen {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .app-advertising {
    &__buttons {
      height: 45px;
    }
  }
}

@media (max-width: 400px) {
  .app-advertising {
    &__buttons {
      height: 35px;
    }
  }
}