body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 60px;
}

.headline {
  font-size: 32px;
  font-weight: 700;
}

.paragraph {
  font-size: 24px;
}

.label {
  font-size: 17px;
}

.table-text {
  font-size: 14px;
}


@media (max-width: 1200px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 24px;
  }

  .label {
    font-size: 16px;
  }

  .headline {
    font-size: 20px;
  }
}