body {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 60px;
}

.contents-table {
  font-size: 32px;
  margin-bottom: 60px;
}

.label {
  font-size: 17px;
}

.table-text {
  font-size: 14px;
}