body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 60px;
}

.headline {
  font-size: 32px;
}

.paragraph {
  font-size: 24px;
}

.label {
  font-size: 17px;
}

.table-text {
  font-size: 14px;
}