.crypto-prices {
  padding: 50px 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  &__title {
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
  }

  &__table {
    width: 100%;
  }

  &__table, &__tbody {
    border-collapse: collapse; 
  }

  &__tbody:last-child {
    border-bottom: 0.6px solid #BDBDBD;
  }

  &__tbody > tr {
    border-top: 0.6px solid #BDBDBD;
  }

  &__tbody > tr > th {
    padding: 25px;
  }

  &__tbody > tr > th:first-child, th:nth-child(2) {
    padding-left: 10px;
  }
  &__tbody > tr > th:last-child {
    padding-right: 10px;
  }

  &__tbody > tr > th:nth-child(3) {
    padding-left: 30px;
  }

  &__with-picture_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name_tr {
    text-align: left;
    justify-content: left;
  }

  &__coin_picture {
    margin-right: 10px;
  }

  &__arrow-little {
    width: 5.33px;
    height: 4px;
    margin-left: 3px;
  }

  &__arrow-big {
    width: 7.76px;
    height: 6px;
    margin-right: 5px;
  }

  &__growth {
    color: #1aff7c;
  }

  &__decline {
    color: #ff1a1a;
  }

  &__volume_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__volume_block {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__converted_volume {
    font-size: 11px;
    color: #828282;
    position: absolute;
    bottom: -15px;
    right: 0px;
  }

  &__information_button {
    margin-left: 10px;
  }

  &__stock_container {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__stock {
    margin-right: 20px;
  }

  &__configs_button {
    background-image: url('./pictures/dots.svg');
    width: 3px;
    height: 14px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
  }
}

@media screen and (max-width: 1200px) {
  .crypto-prices {
    &__1200hide {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .crypto-prices {
    &__900hide {
      display: none;
    }
  }
}


@media screen and (max-width: 700px) {
  .crypto-prices {
    &__700hide {
      display: none;
    }
    
    &__title {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .crypto-prices {
    &__500hide {
      display: none;
    }
  }
}