@import '../../App.scss';

.main-block {
  padding: 0 5vw;
  color: white;
  background: url('./pictures/bg.svg');
  background-repeat: no-repeat;
  background-position: center top;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    width: 100%;
  }

  &__logo {
    height: 40px;
  }

  &__link {
    margin: 20px;
    transition: ease-in-out 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }

  &__link:hover {
    transition: ease-in-out 0.3s;
    border-color: white;
  }

  &__auth-button {
    padding: 10px 20px;
    border: #eb5757 1px solid;
    border-radius: 50px;
    background-color: #eb575700;
    transition: ease-in-out 0.3s;
  }

  &__auth-button:hover {
    background-color: #eb5757;
    transition: ease-in-out 0.3s;
  }

  &__hamburger-button {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 205px);
  }

  &__content_texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
  }

  &__content_picture {
    width: 40%;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__full-color-link {
    padding: 10px 20px;
    background-color: #eb5757;
    border-radius: 50px;
  }

  &__scroll_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__scroll {
    margin: 25px;
    height: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .main-block {
    &__links {
      display: none;
    }

    &__auth-link {
      display: none;
    }

    &__hamburger-button {
      display: block;
      width: 25px;
      height: 15px;
      padding: 5px;
      background-color: transparent;
      background-image: url('./pictures/hamburgerButton.svg');
      border: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .main-block {
    background: none;

    &__content {
      justify-content: center;
      text-align: center;
    }

    &__content_picture {
      display: none;
    }

    &__content_texts {
      width: 100%;
      align-items: center;
    }

    &__scroll_container {
      display: none;
    }
  }
}