@import '../../App.scss';

.main-block {
  width: 100vw;
  height: $height;
  color: white;
  background: url('./pictures/bg.svg');
  background-repeat: no-repeat;
  background-position: center top;

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 105px;
  }

  &__logo {
    height: 40px;
  }

  &__links {

  }

  &__link {
    margin: 20px;
  }

  &__auth-button {
    padding: 10px 20px;
    border: #eb5757 1px solid;
    border-radius: 50px;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100% - 205px);
  }

  &__content_texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__full-color-link {
    padding: 10px 20px;
    background-color: #eb5757;
    border-radius: 50px;
  }

  &__scroll_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__scroll {
    margin: 25px;
    height: 50px;
  }
}