.footer {
  // width: 90vw;
  padding: 50px 5vw;
  background: linear-gradient(45deg, rgba(38,0,116,1) 0%, rgba(78,0,98,1) 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__paragraphs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid #BCBCBC;
  }

  &__paragraphs_block {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
  }

  &__paragraphs_block > a, span {
    margin-bottom: 32px;
  }

  &__title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
  }

  &__paragraph {
    font-size: 17px;
    color: #E6E6E6;
  }

  &__paragraph > span {
    transition: ease-in-out 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
  }

  &__paragraph > span:hover {
    transition: ease-in-out 0.3s;
    border-color: white;
  }

  &__block {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
  }

  &__social_media > a {
    margin-left: 15px;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &__paragraph {
      font-size: 14px;
    }

    &__paragraphs_block {
      margin-bottom: 30px;
    }
  }
}