.short-info {
  width: 100vw;
  height: 575px;
  background-color: #fff6fb;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: #171717;
  }

  &__paragraphs {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
  }

  &__paragraph > span {
    margin-bottom: 30px;
  }

  &__paragraph_picture_container {
    height: 70px;
    margin-bottom: 50px;
  }

  &__paragraph_picture {
    height: 100%;
  }
}