.short-info {
  width: 90vw;
  padding: 5vw;
  background-color: #fff6fb;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: #171717;
    margin-bottom: 60px;
  }

  &__paragraphs {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
  }

  &__paragraph > span {
    margin-bottom: 30px;
  }

  &__paragraph_picture_container {
    height: 70px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  &__paragraph_picture {
    height: 100%;
  }

  &__paragraph_title {
    font-size: 24px;
    font-weight: 600;
  }

  &__paragraph_text {
    font-size: 17px;
  }
}

@media screen and (max-width: 950px) {
  .short-info {
    text-align: center;

    &__paragraphs {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      color: #171717;
      margin-bottom: 60px;
    }

    &__paragraph_title {
      font-size: 18px;
      font-weight: 600;
    }
  
    &__paragraph_text {
      font-size: 14px;
    }
  }
}